{% load static %}
<section class="content-section padding">
<div class="container">
<div class="row content-wrap">
<div class="col-lg-6 sm-padding wow fadeInLeft" data-wow-delay="100ms">
<img class="box-shadow" src="{%static ''%}img/content-1.jpg" alt="img">
</div>
<div class="col-lg-6 sm-padding">
<div class="content-info wow fadeInRight" data-wow-delay="300ms">
<span>Explore The Features</span>
<h2>{{joinClub.title}}</h2>
<p>{{joinClub.details}}</p>
<a href="#" class="default-btn">Get Free Quote</a>
</div>
</div>
</div>
</div>
</section>
