{% extends 'home.html'%}
<!--description start-->
{% block description %}DIROBOX{% endblock %}
<!--description end-->

<!--title start-->
{% block title %}DIROBOX{% endblock %}
<!--title end-->

<!----slider start---->
{% block slider %}
{% include 'slider.html'%}
{% endblock slider %}
<!-- slider end-->

<!-- homeService start-->
{% block services %}
{% include 'homeServices.html'%}
{% endblock services %}
<!---Service End-->

<!--home about start---->
{% block homeabout %}
{% include 'homeabout.html'%}
{% endblock homeabout %}
<!---home about End-->

<!--counter start--->
{% block counter %}
{% include 'counter.html'%}
{% endblock counter %}
<!--counter end--->

<!--project start -->
{% block homeProject %}
{% include 'homeProject.html'%}
{% endblock homeProject %}
<!--Project End--->

<!--team start -->
{% block specilizedteam %}
{% include 'specilizedteam.html'%}
{% endblock specilizedteam %}
<!--team End--->

<!--client says start-->
{% block clientSays %}
{% include 'clientSays.html'%}
{% endblock clientSays %}
<!--Client says end-->

<!--blog  start-->
{% block blog %}
{% include 'blog.html'%}
{% endblock blog %}
<!--blog  end-->

<!--sponsor start -->
{% block homeSponsor %}
{% include 'homeSponsor.html' %}
{% endblock homeSponsor %}


{% block container%}
{% endblock container%}