{% load static %}
<section class="promo-section padding">
<div class="container">
<div class="row promo-wrap">
<div class="col-lg-3 col-sm-6 sm-padding">
<div class="promo-item box-shadow text-center wow fadeInUp" data-wow-delay="100ms">
<i class="flaticon2-lab"></i>
<h3>Lab Facility</h3>
<p>We are committed to building a sustainable future by fostering a collaborative spirit.</p>
</div>
</div>
<div class="col-lg-3 col-sm-6 sm-padding">
<div class="promo-item box-shadow text-center wow fadeInUp" data-wow-delay="300ms">
<i class="flaticon2-management"></i>
<h3>Expert Alumni</h3>
<p>We are committed to building a sustainable future by fostering a collaborative spirit.</p>
</div>
</div>
<div class="col-lg-3 col-sm-6 sm-padding">
<div class="promo-item box-shadow text-center wow fadeInUp" data-wow-delay="400ms">
<i class="flaticon2-repair"></i>
<h3>All Equipment</h3>
<p>We are committed to building a sustainable future by fostering a collaborative spirit.</p>
</div>
</div>
<div class="col-lg-3 col-sm-6 sm-padding">
<div class="promo-item box-shadow text-center wow fadeInUp" data-wow-delay="500ms">
<i class="flaticon2-ai"></i>
<h3>Best Sponsorship</h3>
<p>We are committed to building a sustainable future by fostering a collaborative spirit.</p>
</div>
</div>
</div>
</div>
</section>