{% load static %}
<section class="service-section section-2 bg-grey padding">
<div class="dots"></div>
<div class="container">
<div class="row d-flex align-items-center">
<div class="col-lg-6 sm-padding">
<div class="service-content wow fadeInLeft">
<span>Explore The Features</span>
<h2>{{setting.title}}</h2>
<p>{{setting.aboutus}}</p>
<a href="#" class="default-btn">Our All Services</a>
</div>
</div>
<div class="col-lg-6 sm-padding">
<div class="row services-list">
<div class="col-md-6 padding-15">
<div class="service-item box-shadow wow fadeInUp" data-wow-delay="100ms">
<i class="flaticon2-ai"></i>
<h3>General Building</h3>
<p>We are committed building a sustainable future fostering a collaborative spirit.</p>
</div>
</div>
<div class="col-md-6 padding-15 offset-top">
<div class="service-item box-shadow wow fadeInUp" data-wow-delay="300ms">
<i class="flaticon2-creativity"></i>
<h3>Building Construction</h3>
<p>We are committed building a sustainable future fostering a collaborative spirit.</p>
</div>
</div>
<div class="col-md-6 padding-15">
<div class="service-item box-shadow wow fadeInUp" data-wow-delay="400ms">
<i class="flaticon2-repair"></i>
<h3>Refurbishments</h3>
<p>We are committed building a sustainable future fostering a collaborative spirit.</p>
</div>
</div>
<div class="col-md-6 padding-15 offset-top">
<div class="service-item box-shadow wow fadeInUp" data-wow-delay="500ms">
<i class="flaticon2-management"></i>
<h3>Building Renovation</h3>
<p>We are committed building a sustainable future fostering a collaborative spirit.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</section>