{% extends 'home.html'%}
{% load static %}
{% block container%}
<section class="page-header padding">
<div class="container">
<div class="page-content text-center">
<h2>Project DURC</h2>
<p>{{singleproject.title}}.</p>
</div>
</div>
</section>
<section class="project-single-section padding">
<div class="container">
<div class="row project-single-wrap align-items-center">
<div class="col-md-6 sm-padding">
<div id="project-single-carousel" class="project-single-carousel box-shadow owl-carousel">
<div class="single-carousel">
<img src="{{singleproject.imageurl}}" alt="img">
</div>
<div class="single-carousel">
<img src="img/project-s-2.jpg" alt="img">
</div>
<div class="single-carousel">
<img src="img/project-s-3.jpg" alt="img">
</div>
</div>
</div>
<div class="col-md-6 sm-padding">
<div class="project-single-content">
<h2>{{singleproject.title}}</h2>
<p>{{singleproject.detail|truncatewords:"200"|linebreaks}}</p>
<ul class="project-details">
<li><span>Architects</span>: José Carpio, Valentin Lacoste, Kyle Frederick</li>
<li><span>Location</span>: 962 Fifth Avenue, 3rd Floor New York.</li>
<li><span>Category</span>: {{singleproject.category}}.</li>
<li><span>Area</span>: 119.0.563</li>
<li><span>Project Year</span>: {{singleproject.created_at}}</li>
<li><span>Manufactures</span>: AlexaTheme construction company.</li>
</ul>
</div>
</div>
</div>
 </div>
</section>
{% endblock container%}